
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <hr />
    <hr />
    <hr />
<h2>Admin</h2>

<a href="@Url.Action("Index", "Articles")" class="btn btn-info" role="button">Link Button</a>

<a href="@Url.Action("Send_Email", "Email")" class="btn btn-info" role="button">Email Button</a>